.form {
    position: relative;
    margin: 6px;
}
.form .gr-form {
    display: block;
    position: absolute;
    left: 0px;
    background: #fff;
    visibility: hidden;
    width: 100%;
    overflow: auto;
    border-right: 1px solid #009688;
    border-left: 1px solid #009688;
}
.form .gr-form:target {
    visibility: visible;
}
.form .form-input {
    display: block;
    width: 100%;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #009688;
    color: #009688;
}
::-moz-placeholder {
    color: #888;
}
.form .form-footer {
    display: block;
    width: 100%;
}
.form .form-body {
    display: block;
    padding: 6px 10px;
    height: 380px;
}
.clear-fix {
    display: table !important;
    clear: both !important;
}
.form .node {
    background: #009688;
    border: #009688;
    padding: 6px 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.form .node:hover {
    background: #004d40;
}
.form .pn {
    display: block;
    position: relative;
    background: #009688;
    padding: 6px;
    top: 10px;
    border-top: 1px solid #009688;
    border-bottom: 1px solid #009688;
}
.search-content {
    width: 100%;
    display: block;
}
.popup-register {
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    padding: 100px;
    color: #fff;
    display: none;
}
.popup-register label a {
    color: #fbae17;
}
.tab-parent {
    position: relative;
}
.tab-parent .tab-group {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    width: 100%;
    display: block;
}
.tab-parent .tab-group:target {
    visibility: visible;
}
.tab-active {
    visibility: visible !important;
}
.btn-fb, .btn-g {
    padding: 5px 10px;
    text-decoration: none;
    width: 45%;
    color: #fff;
    display: inline-block;
    text-align: left;
    border-radius: 40px;
}
.btn-fb i, .btn-g i {
    border-right: 1px solid #fff;
    padding: 0px 5px 0px 0px;
}
.btn-fb {
    background: #414fa1;
    border: 1px solid #414fa1;
}
.btn-g {
    background: #faa722;
    border: 1px solid #faa722;
}
.btn-fb:hover, .btn-g:hover {
    text-decoration: none;
    color: #fff;
}
.ip-reg {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #fbae17;
    outline: none;
    background: transparent;
    font-size: 18px;
    color: #fff;
}
.ip-reg::-moz-placeholder {
    color: #fff;
}
.btn-reg {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #fbae17;
    outline: none;
    background: transparent;
    font-size: 18px;
    color: #fff;
    transition: background 300ms ease-out;
    -moz-transition: background 300ms ease-out;
    cursor: pointer;
}
.btn-reg:hover {
    text-decoration: none;
    background: #fbae17;
    color: #fff;
}
.break {
    list-style: none;
    display: block;
    padding: 0px !important;
}
.break li {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: transparent;
    border: 2px solid #fbae17;
    border-radius: 50%;
    color: #fff;
}
.break li.act {
    background: #fbae17;
    width: 25px;
    height: 1px;
    border-radius: 0px;
    margin: -6px;
    position: relative;
    top: -10px;
}
.break li.ac {
    background: #fbae17;
}
#btn-close {
    position: fixed;
    top: 35px;
    right: 35px;
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    padding: 15px;
    cursor: pointer;
}
#btn-close:before, #btn-close:after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 30px;
    background: #fff;
    right: 0px;
    top: 15px;
    position: absolute;
}
#btn-close:before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
#btn-close:after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
#btn-close:hover{
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.website {
    word-wrap: break-word;
}

/* css anh truong */
body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;

	background-color: #f9f9f9;
}

/* Tabs container */
.r-tabs {
	position: relative;

	background-color: #00c5ad;

	border-top: 1px solid #00c5ad;
	border-right: 1px solid #00c5ad;
	border-left: 1px solid #00c5ad;
	border-bottom: 4px solid #00c5ad;
	border-radius: 4px;

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: #00c5ad;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;

	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #00c5ad;
	text-shadow: none;

	background-color: white;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: white;

	border-bottom: 4px solid white;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;

	background-color: #00c5ad;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #00c5ad;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

/* Buttons */
/*button {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	line-height: 100%;

	color: #fff;
	font-size: 14px;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	vertical-align: middle;
	font-weight: bold;
	
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #00c5ad;
	box-shadow: 0px 3px 0px 0px #00ab94;
	
	cursor: pointer;
}*/

/* Info bar */
.info {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	width: 300px;
	line-height: 100%;

	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px;
	color: #00c5ad;
	border: 2px solid #00ab94;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;

	cursor: pointer;
} 
