::selection {
	background: #009999;
	color: #fff;
}
::-moz-selection {
	background: #009999;
	color: #fff;
}
.owl-wrapper-outer {
	border-radius: 0px !important;
	box-shadow: 0px 0px 0px #000 !important;
}
.btn.button {
	background: #fff;
	color: #222 !important;
	border-radius: 0px;
	border: 1px solid #009999 !important;
	box-shadow: 0px 0px 0px #222 !important;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
}
.btn.button:hover {
	background: #009999 !important;
	color: #fff !important;
}
.input-search , .form-control , .form-control:focus{
	padding: 5px 25px 5px 15px;
	color: #009999;
	border: 1px solid #009999;
	box-shadow: 0px 0px 0px #222;
	border-radius: 0px;
}
.button-search {
	padding: 5px 15px;
	border: 1px solid #009999;
	color: #fff;
	background: #009999;
	transition: all 300ms linear;
	-moz-transition: all 300ms linear;
}
.button-search:hover {
	background: #fff;
	color: #009999;
}
.button-remove {
	background: #AC2925;
	color: #fff;
	border: 1px solid #AC2925;
	padding: 5px 15px;
	transition: all 300ms linear;
	-moz-transition: all 300ms linear;
}
.button-remove:hover {
	background: #fff;
	color: #222;
}
.pull-right.dropdown-menu {
	background: #fff !important;
	border-radius: 0px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.15);
	border: 1px solid #009999;
	padding: 0px;
}
table.table-striped tr {
	background: #fff !important;
}
.navbar-nav > li > .dropdown-menu {
	border-radius: 0px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}
#menu .dropdown-inner a:hover, #menu .see-all:hover, .dropdown .dropdown-menu li a:hover {
	background: #009999;
	color: #fff;
	border-radius: 0px;
	box-shadow: 0px 0px 0px #222;
	width: 100%;
	transition: background 300ms linear;
	transition: color 300ms linear;
}
.dropdown .dropdown-menu {
	box-shadow: 1px 2px 3px rgba(0,0,0,0.15);
}
.list-group-item {
	border-radius: 0px !important;
}